.display{
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.15rem;

    letter-spacing: 0.15rem;
}

.display > .history {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.display > .history > span{
    font-size: 0.95em;
    color: var(--red-color);
}

.display > .result{
        font-size: 2.5em;
    font-weight: 700;
}